<fieldset class="form-group form-required" id="business-impact">
  <label class="control-label col-sm-3">Business Impact:</label>
  <div class="col-sm-8">
    <textarea class="form-control"></textarea>
  </div>
</fieldset>

<fieldset class="form-group" id="critical-business-impact">
  <div class="col-sm-8 col-sm-offset-3">
    <div class="checkbox">
      <label><input type="checkbox" name="critical-business-impact" value="">This significantly impacts my business operations</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="critical-business-impact" value="">I have after-hours resource available to work with Trend Micro, if necessary</label>
    </div>
  </div>
</fieldset>
