<fieldset class="form-group" id="case-severity">

  <hr class="dashed">

  <label class="control-label col-sm-3">Case Severity:</label>

  <div class="col-sm-8">

    <label class="radio-inline" id="low-severity">
      <input type="radio" name="case-severity" value="Low Severity" checked />Low
    </label>

    <div class="popover_content hidden" id="low-severity-content">
      <ul class="list list-bullet list-condensed">
        <li>Cosmetic Trend Micro impairment or request for enhancement feature.</li>
        <li>Little or no business impact.</li>
        <li>No immediate resolution required.</li>
        <li>Request for general information or questions.</li>
      </ul>
    </div>

    <label class="radio-inline" id="medium-severity">
      <input type="radio" name="case-severity" value="Medium Severity" />Medium
    </label>

    <div class="popover_content hidden" id="medium-severity-content">
      <ul class="list list-bullet list-condensed">
        <li>Major Trend Micro software or service function impaired but operational.</li>
        <li>Minor Trend Micro product or service component function not working as documented</li>
        <li>Medium to low business impact.</li>
        <li>Workaround available.</li>
      </ul>
    </div>

    <label class="radio-inline" id="high-severity">
      <input type="radio" name="case-severity" value="High Severity" />High
    </label>

    <div class="popover_content hidden" id="high-severity-content">
      <ul class="list list-bullet list-condensed">
        <li>Major Trend Micro software performance or service operation components severely impaired or degraded.</li>
        <li>Significant impact to business operations.</li>
      </ul>
    </div>

    <label class="radio-inline" id="critical-severity">
      <input type="radio" name="case-severity" value="Critical Severity" />Critical
    </label>

    <div class="popover_content hidden" id="critical-severity-content">
      <ul class="list list-bullet list-condensed">
        <li>Issues where major Trend Micro product or service components are rendered inoperable.</li>
        <li>Critical impact to business operations.</li>
        <li>No workaround available.</li>
        <li>Around-the-clock Customer and Trend Micro commitment to address the incident.</li>
      </ul>
    </div>

  </div>

</fieldset>
