<fieldset class="form-group" id="contact-method">
  <label class="control-label col-sm-3">Contact Methdod:</label>
  <div class="col-sm-8">
    <label class="radio-inline"><input type="radio" name="contact-method" value="Email" checked>Email</label>
    <label class="radio-inline"><input type="radio" name="contact-method" value="Call">Call</label>
  </div>
</fieldset>

<div id="contact-call">

  <fieldset class="form-group">
    <label class="control-label col-sm-3">Phone Number:</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" pattern="[0-9]*" class="form-control" />
    </div>
  </fieldset>

  <fieldset class="form-group">
    <label class="control-label col-sm-3">Preferred Time:</label>
    <div class="col-sm-6 col-md-4">
      <select class="form-control">
        <option value="Morning">Morning</option>
        <option value="Afternoon">Afternoon</option>
        <option value="Evening">Evening</option>
        <option value="Anytime">Anytime</option>
      </select>
    </div>
  </fieldset>

</div>
