<fieldset class="form-group" id="issue-type">
  <label class="control-label col-sm-3">Issue Type:</label>
  <div class="col-sm-9">
    <label class="radio-inline">
      <input type="radio" name="request-type" value="Product Issue" checked>Product Issue
    </label>
    <label class="radio-inline">
      <input type="radio" name="request-type" value="Virus and Malware Issue">Virus &amp; Malware Issue
    </label>
    <label class="radio-inline disabled" id="change-control">
      <input type="radio" name="request-type" value="Change Control" disabled="true">Change Control
    </label>
  </div>
</fieldset>
