<fieldset class="form-group form-required" id="product-profile">
  <label class="control-label col-sm-3">Product Profile:</label>
  <div class="col-sm-8 col-md-6 col-lg-5">
    <select class="form-control">
      <option value="Default" selected disabled>Select Product Profile</option>
      <option value="OfficeScan">OfficeScan</option>
      <option value="Worry-Free Business Security">Worry-Free Business Security</option>
      <option value="Deep Security">Deep Security</option>
      <option value="Hosted Email Security">Hosted Email Security</option>
      <option value="Endpoint Encription">Endpoint Encription</option>
      <option value="TippingPoint">TippingPoint</option>
    </select>
    <div class="help-block"><a href="#product-profile-modal" data-toggle="modal">Update or add a product profile</a></div>
  </div>
</fieldset>
