<fieldset class="form-group form-group-lg form-required" id="subject">
  <label class="control-label col-sm-3">Subject:</label>
  <div class="col-sm-8 col-md-6">
    <input type="text" class="form-control">
    <div class="help-block" id="subject-loading">We have some suggestions that may help you faster than sending a message.</div>
  </div>
</fieldset>

<fieldset class="form-group" id="suggested-articles">
  <div class="col-sm-9 col-sm-offset-3">
    <div class="well well-info well-lg" style="margin-bottom: 0;">
      <button class="close" type="button">&times;</button>
      <h6 class="well-title display-7">These are articles may be related to your concern:</h6>
      <ul class="list">
        <li><a href="">Using the InterScan Web Security Virtual Appliance (IWSVA) Connectivity Test tool</a></li>
        <li><a href="">Sending a test email using the SMTP Server settings</a></li>
        <li><a href="">Checking the anti-virus scan of Trend Micro products using the EICAR test file</a></li>
        <li><a href="">Virus Scan Engine in Worry-Free Business Security (WFBS) cannot detect copied EICAR test files in Real-time Scan mode</a></li>
        <li><a href="">Test connection for WRS fails when IIS Binding is set to a specific IP Address in OfficeScan (OSCE) 10.6 SP1</a></li>
      </ul>
    </div>
  </div>
</fieldset>
