<fieldset class="form-group form-required has-icon right" id="virus-pattern-type">
  <label class="control-label col-sm-3">Virus Pattern Type</label>
  <div class="col-sm-8 col-md-6 col-lg-5">
    <select class="form-control" disabled>
      <option value="Default" selected disabled>Choose a Product Profile</option>
      <optgroup label="Virus Pattern Type">
        <option value="Windows 8.1 64-bit">Conventional Pattern</option>
        <option value="Windows 8 64-bit">Smart Scan Pattern</option>
      </optgroup>
    </select>
    <span class="form-control-icon"><img src="{{ site.baseurl }}/assets/images/fancybox_loading.gif" /></span>
    <div class="help-block">
      <a href="#product-profile-modal" data-toggle="modal">Add to product profile</a>
    </div>
  </div>
</fieldset>
