<footer class="footer footer-default footer-fixed">

  <div class="container">
    <a class="footer-brand" href="{{ site.baseurl }}/index.html">
      <img src="{{ site.baseurl }}/assets/images/footer-tm-logo.svg" onerror="this.src='{{ site.baseurl }}/assets/images/footer-tm-logo.png';" alt="Trend Micro" title="Trend Micro" />
    </a>
    <nav class="footer-menu">
      <ul class="nav footer-nav footer-menu-link">
        <li class="dropup">
          <li><a href="#select-region" data-toggle="modal" data-targe="#select-region" active><i class="fa fa-globe fa-right"></i>日本</a></li>
        </li>
      </ul>
      <ul class="nav footer-nav">
        <li><a href="{{ site.baseurl }}/ja-jp/business-support.html">トレンドマイクロ　サポートトップ</a></li>
        <li class="divider"></li>
        <li><a href="">利用規約</a></li>
        <li class="divider"></li>
        <li><a href="{{ site.baseurl }}/ja-jp/sitemap.html">サイトマップ</a></li>
        <li class="divider"></li>
        <li><a href="{{ site.baseurl }}/ja-jp/faq.html">よくあるご質問</a></li>
      </ul>
    </nav>
    <div class="footer-text">
      Copyright © 2016 Trend Micro Incorporated. <br />All rights reserved.
    </div>
  </div>

</footer>
