<div id="resources-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-4" id="footer-contact-support">
        <a href="{{ site.baseurl }}/en-us/contact-support/asia-pacific.html" data-tooltip="tooltip" data-placement="top" title="" data-original-title="Consult our product experts on your licensing and technical issues.">
          <img alt="Contact Support" src="{{ site.baseurl }}/assets/images/footer-contact-support.png" title="Contact Support"><span>Contact<br/> Support</span>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4" id="footer-download-center">
        <a href="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Get the latest product builds, patches, and component updates.">
          <img alt="Download Center" src="{{ site.baseurl }}/assets/images/footer-download-center.png" title="Download Center"><span>Download<br/> Center</span>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4" id="footer-product-documentation">
        <a href="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Learn all about your product's features, requirements, common procedures, and configuration information.">
          <img alt="Product Documentation" src="{{ site.baseurl }}/assets/images/footer-product-documentation.png" title="Product Documentation"><span>Product<br/> Documentation</span>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4" id="footer-support-policies">
        <a href="{{ site.baseurl }}/en-us/esupport/support-policies.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="See the currently supported products, types of fixes, and available support options.">
          <img alt="Support Policies" src="{{ site.baseurl }}/assets/images/footer-support-policies.png" title="Support Policies"><span>Support<br/> Policies</span>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4" id="footer-vulnerability-response">
        <a href="{{ site.baseurl }}/en-us/esupport/vulnerability-response.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Check our findings on the latest vulnerability claims.">
          <img alt="Product Vulnerability" src="{{ site.baseurl }}/assets/images/footer-vulnerability-response.png" title="Product Vulnerability"><span>Vulnerability<br/> Response</span>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4" id="footer-feedback">
        <a href="{{ site.baseurl }}/en-us/feedback.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Let us know what you think of our new and improved website by answering this survey.">
          <img alt="Feedback" src="{{ site.baseurl }}/assets/images/footer-feedback.png" title="Feedback"><span>Feedback</span>
        </a>
      </div>
    </div>
  </div>
</div>
