<ul class="col-md-3 col-lg-2 nav nav-pills responsive-pills sidebar-navigation">
  <li class="active">
    <a href="#deploy-and-install" data-toggle="tab">Deploy &amp; Install</a>
  </li>
  <li>
    <a href="#update-and-migrate" data-toggle="tab">Update &amp; Migrate</a>
  </li>
  <li>
    <a href="#configure-and-maintain" data-toggle="tab">Configure &amp; Maintain</a>
  </li>
  <li>
    <a href="#error-and-troubleshooting" data-toggle="tab">Error &amp; Troubleshooting</a>
  </li>
  <li>
    <a href="#account-and-license" data-toggle="tab">Account &amp; License</a>
  </li>
</ul>
