<div class="col-md-4" id="sidebar-nav">

  <nav class="sidebar">

    <p class="small text-muted">
      <strong>ON THIS PAGE</strong>
    </p>
    <ul class="nav nav-pills">
      <li>
        <a href="#part-1">Setting up product profiles for case submission</a>
        <ul class="nav nav-pills">
          <li><a href="#part-1-1">Product Profile form fields</a></li>
          <li><a href="#part-1-2">Quickly add a product profile while submitting a request</a></li>
        </ul>
      </li>
      <li><a href="#part-2">Using the New Request form</a></li>
      <li>
        <a href="#part-3">Submitting Threat-Related issues</a>
        <ul class="nav nav-pills">
          <li><a href="#part-3-1">Files that need verification</a></li>
          <li><a href="#part-3-2">Files that require immediate action</a></li>
        </ul>
      </li>
      <li><a href="#part-4">Spam</a></li>
      <li><a href="#part-5">URL Reclassification</a></li>
      <li><a href="#part-6">Submitting Product-Related issues</a></li>
    </ul>

    <a href="">Back to Top</a>

  </nav>

</div>
