<div class="modal fade" id="category-description-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h6 class="modal-title display-7">Issue Category Description</h6>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs nav-tabs-one nav-justified nav-sm">
          <li class="active"><a href="#product" data-toggle="tab" >Product Issue</a></li>
          <li><a href="#virus-threat" data-toggle="tab" >Virus &amp; Malware Issues</a></li>
        </ul>
        <div class="tab-content scroll-box">
          <div class="tab-pane fade in active" id="product">
            <dl class="list list-definition">

              <dt>Appliance Hardware</dt>
              <dd>For hardware-related issues affecting a Trend Micro appliance product (ie. Network Viruswall, Interscan Gateway Security Appliance, Interscan Messaging Appliance, etc.</dd>

              <dt>Configuration</dt>
              <dd>Issues relating to setting up and enabling a functionality of a product like Realtime scanning, notification, Firewalls, and etc.</dd>

              <dt>Installation</dt>
              <dd>Problems installing the entire product or a component of a product.</dd>

              <dt>Online Account Administration</dt>
              <dd>Issues on enabling or disabling access to an online account.</dd>

              <dt>Performance (i.e. System Slow-Down or High CPU)</dt>
              <dd>Degradation or poor system performance after enabling a function or installing the product.</dd>

              <dt>System Crash</dt>
              <dd>Crash, hang, Blue-screen-of-Death (BSOD), ABEND, Core Dump, etc. after installing a component, enabling a feature, or installing the product.</dd>

              <dt>Uninstall</dt>
              <dd>Problems removing a component or the entire product from the system.</dd>

              <dt>Update or Rollback</dt>
              <dd>Issues related to component updates and rollback such as pattern and scan engine update failures.</dd>

              <dt>User Interface Defects or Documentation Questions</dt>
              <dd>Management Console or Client-side console problems and product documentation (Installation Guide, Administrator Guide, or Online Help concerns.</dd>

              <dt>Other Product Related Questions</dt>
              <dd>Other technical concerns that do not fall within the above categories.</dd>

            </dl>
          </div>
          <div class="tab-pane fade" id="virus-threat">
            <dl class="list list-definition">

              <dt>Spam</dt>
              <dd>Request to analyze a valid email that was tagged as SPAM or request to tag an email as SPAM.</dd>


              <dt>Virus False Alarm</dt>
              <dd>Report that a clean file was detected as malicious.</dd>

              <dt>Malware detected but clean failed</dt>
              <dd>The file was detected but was not cleaned or quarantined.</dd>

              <dt>URL Reclassification</dt>
              <dd>Request re-validation of a blocked website or URL.</dd>

            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
