<div class="modal fade" id="contact-list-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h6 class="modal-title display-7">Select from Contact List</h6>
      </div>
      <div class="modal-body">
        <div class="panel panel-default" id="contact-list">
          <table class="table table-hover table-scrollable table-togglecheckbox">
            <thead>
              <tr>
                <th><input type="checkbox" data-select="selectall"></th>
                <th>Contact List</th>
              </tr>
            </thead>
            <tbody>
              <tr><td><input type="checkbox" data-toggle="checkbox"></td><td>bbyod332_mark@mail.com</td></tr>
              <tr><td><input type="checkbox" data-toggle="checkbox"></td><td>GraceTest1215@test.com</td></tr>
              <tr><td><input type="checkbox" data-toggle="checkbox"></td><td>gracetest@gmail.com</td></tr>
              <tr><td><input type="checkbox" data-toggle="checkbox"></td><td>grace_adavan1@trendmicro.com</td></tr>
              <tr><td><input type="checkbox" data-toggle="checkbox"></td><td>grace_adavan2@trendmicro.com</td></tr>
              <tr><td><input type="checkbox" data-toggle="checkbox"></td><td>joy_maniago@trendmicro.com</td></tr>
              <tr><td><input type="checkbox" data-toggle="checkbox"></td><td>mark111222@gmail.com</td></tr>
              <tr><td><input type="checkbox" data-toggle="checkbox"></td><td>mark345@gmail.com</td></tr>
              <tr><td><input type="checkbox" data-toggle="checkbox"></td><td>nbr1234567@mailer.com</td></tr>
              <tr><td><input type="checkbox" data-toggle="checkbox"></td><td>nbr12345@mailer.com</td></tr>
              <tr><td><input type="checkbox" data-toggle="checkbox"></td><td>number@yahoo.com</td></tr>
              <tr><td><input type="checkbox" data-toggle="checkbox"></td><td>Phonemapping@yahoo.com</td></tr>
              <tr><td><input type="checkbox" data-toggle="checkbox"></td><td>tmjennyshieh@gmail.com</td></tr>
              <tr><td><input type="checkbox" data-toggle="checkbox"></td><td>tmstandardcustomer@gmail.com</td></tr>
              <tr><td><input type="checkbox" data-toggle="checkbox"></td><td>trendbaux+kmstandard@gmail.com</td></tr>
              <tr><td><input type="checkbox" data-toggle="checkbox"></td><td>trendbaux+nonpsp02@gmail.com</td></tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info btn-sm" type="button">Add Selected Recipients</button>
        <button class="btn btn-link btn-sm" data-dismiss="modal" type="button">Close</button>
      </div>
    </div>
  </div>
</div>
