<div class="modal fade" id="url-reclassification-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h6 class="modal-title display-7">Select Classification</h6>
      </div>
      <div class="modal-body">

        <ul class="nav nav-tabs nav-tabs-one nav-justified nav-sm">
          <li class="active"><a href="#adult" data-toggle="tab">Adult</a></li>
          <li><a href="#business" data-toggle="tab">Business</a></li>
          <li><a href="#communication-and-search" data-toggle="tab">Communication and Search</a></li>
          <li><a href="#general" data-toggle="tab">General</a></li>
          <li><a href="#internet-security" data-toggle="tab">Internet Security</a></li>
          <li><a href="#lifestyle" data-toggle="tab">Lifestyle</a></li>
          <li><a href="#network-bandwidth" data-toggle="tab">Network Bandwidth</a></li>
        </ul>

        <div class="tab-content scroll-box">

          <div class="tab-pane fade in active" id="adult">

            <h3 class="tab-header display-5">Adult</h3>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="" checked="">Abortion
                <div class="small text-muted">Sites that promote, encourage, or discuss abortion, including sites that cover moral or political views on abortion</div>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Adult / Mature Content
                <div class="small text-muted">Sites with profane or vulgar content generally considered inappropriate for minors; includes sites that offer erotic content or ads for sexual services, but excludes sites with sexually explicit images</div>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Alcohol / Tobacco
                <div class="small text-muted">Sites that promote, sell, or provide information about alcohol or tobacco products</div>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Gambling
                <div class="small text-muted">Sites that promote or provide information on gambling, including online gambling sites</div>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Illegal / Questionable
                <div class="small text-muted">Sites that promote and discuss how to perpetrate nonviolent crimes, including burglary, fraud, intellectual property theft, and plagiarism; includes sites that sell plagiarized or stolen materials</div>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Illegal Drugs
                <div class="small text-muted">Sites that promote, glamorize, supply, sell, or explain how to use illicit or illegal intoxicants</div>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Illegal or Prohibited Content
                <div class="small text-muted">Sites that provide information about or software for sharing and transferring pages related to illegal or prohibited content in international law.</div>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Intimate Apparel / Swimsuit
                <div class="small text-muted">Sites that sell swimsuits or intimate apparel with images of models wearing them</div>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Marijuana
                <div class="small text-muted">Sites that discuss the cultivation, use, or preparation of marijuana, or sell related paraphernalia</div>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Nudity
                <div class="small text-muted">Sites showing nude or partially nude images that are generally considered artistic, not vulgar or pornographic</div>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Pornography
                <div class="small text-muted">Sites with sexually explicit imagery designed for sexual arousal, including sites that offer sexual services</div>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Sex Education
                <div class="small text-muted">Sites with or without explicit images that discuss reproduction, sexuality, birth control, sexually transmitted disease, safe sex, or coping with sexual trauma</div>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Tasteless
                <div class="small text-muted">Sites with content that is gratuitously offensive and shocking; includes sites that show extreme forms of body modification or mutilation and animal cruelty</div>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Violence / Hate / Racism
                <div class="small text-muted">Sites that promote hate and violence; includes sites that espouse prejudice against a social group, extremely violent and dangerous activities, mutilation and gore, or the creation of destructive devices</div>
              </label>
            </div>
            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Weapons
                <div class="small text-muted">Sites about weapons, including their accessories and use; excludes sites about military institutions or sites that discuss weapons as sporting or recreational equipment</div>
              </label>
            </div>

          </div>

          <div class="tab-pane fade" id="business">

            <h3 class="tab-header display-5">Business</h3>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Auctions
                <div class="small text-muted">Sites that serve as venues for selling or buying goods through bidding, including business sites that are being auctioned</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Brokerages / Trading
                <div class="small text-muted">Sites about investments in stocks or bonds, including online trading sites; includes sites about vehicle insurance</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Business / Economy
                <div class="small text-muted">Sites about business and the economy, including entrepreneurship and marketing; includes corporate sites that do not fall under other categories</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Financial Services
                <div class="small text-muted">Sites that provide information about or offer basic financial services, including sites owned by businesses in the financial industry</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Job Search / Careers
                <div class="small text-muted">Sites about finding employment or employment services</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Real Estate
                <div class="small text-muted">Sites about real estate, including those that provide assistance selling, leasing, purchasing, or renting property</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Shopping
                <div class="small text-muted">Sites that sell goods or support the sales of goods that do not fall under other categories; excludes online auction or bidding sites</div>
              </label>
            </div>

          </div>

          <div class="tab-pane fade" id="communication-and-search">

            <h3 class="tab-header display-5">Communication and Search</h3>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Blogs / Web Communications
                <div class="small text-muted">Blog sites or forums on varying topics or topics not covered by other categories; sites that offer multiple types of Web-based communication, such as email or instant messaging</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Chat / Instant Messaging
                <div class="small text-muted">Sites that provide Web-based services or downloadable software for text-based instant messaging or chat</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Email
                <div class="small text-muted">Sites that provide email services, including portals used by companies for Web-based email</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Internet Infrastructure
                <div class="small text-muted">Content servers, image servers, or sites used to gather, process, and present data and data analysis, including Web analytics tools and network monitors</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Internet Telephony
                <div class="small text-muted">Sites that provide Web services or downloadable software for Voice over Internet Protocol (VoIP) calls</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Newsgroups / Forum
                <div class="small text-muted">Sites that offer access to Usenet or provide other newsgroup, forum, or bulletin board services</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Search Engines / Portals
                <div class="small text-muted">Search engine sites or portals that provide directories, indexes, or other retrieval systems for the Web</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Social Networking
                <div class="small text-muted">Sites devoted to personal expression or communication, linking people with similar interests</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Web Hosting
                <div class="small text-muted">Sites of organizations that provide top-level domains or Web hosting services</div>
              </label>
            </div>

          </div>

          <div class="tab-pane fade" id="general">

            <h3 class="tab-header display-5">General</h3>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Computers / Internet
                <div class="small text-muted">Sites about computers, the Internet, or related technology, including sites that sell or provide reviews of electronic devices</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Education
                <div class="small text-muted">School sites, distance learning sites, and other education-related sites</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Government / Legal
                <div class="small text-muted">Sites about the government, including laws or policies; excludes government military or health sites</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Health
                <div class="small text-muted">Sites about health, fitness, or well-being</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Military
                <div class="small text-muted">Sites about military institutions or armed forces; excludes sites that discuss or sell weapons or military equipment</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">News / Media
                <div class="small text-muted">Sites about the news, current events, contemporary issues, or the weather; includes online magazines whose topics do not fall under other categories</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Politics
                <div class="small text-muted">Sites that discuss or are sponsored by political parties, interest groups, or similar organizations involved in public policy issues; includes non-hate sites that discuss conspiracy theories or alternative views on government</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Reference
                <div class="small text-muted">General and specialized reference sites, including map, encyclopedia, dictionary, weather, how-to, and conversion sites</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Translators / Cached Pages
                <div class="small text-muted">Online page translators or cached Web pages (used by search engines), which can be used to circumvent proxy servers and Web filtering systems</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Untested
                <div class="small text-muted">Sites that have not been classified under a category</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Vehicles
                <div class="small text-muted">Sites about motorized transport, including customization, procurement of parts and actual vehicles, or repair services; excludes sites about military vehicles</div>
              </label>
            </div>

          </div>


          <div class="tab-pane fade" id="internet-security">

            <h3 class="tab-header display-5">Internet Security</h3>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Adware
                <div class="small text-muted">Sites with downloads that display advertisements or other promotional content; includes sites that install browser helper objects (BHOs)</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">C&amp;C Server
                <div class="small text-muted">Servers/Repositories that harbor command-and-control (C&amp;C) servers and dropzones</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Cookies
                <div class="small text-muted">Sites that send malicious tracking cookies to visiting Web browsers</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Dialers
                <div class="small text-muted">Sites with downloads that dial into other networks or premium-rate telephone numbers without user consent</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Disease Vector
                <div class="small text-muted">Sites that directly or indirectly facilitate the distribution of malicious software or source code</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Emerging Malware
                <div class="small text-muted">Sites that directly or indirectly facilitate the distribution of ransomware and other emerging types of malware</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Hacking
                <div class="small text-muted">Sites that provide software for bypassing computer security systems</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Joke Program
                <div class="small text-muted">Sites that provide downloadable "joke" software, including applications that can unsettle users</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Made for AdSense
                <div class="small text-muted">Sites that use scraped or copied content to pollute search engines with redundant and generally unwanted results</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Malicious Domain
                <div class="small text-muted">Domains that host malicious payloads; such domains cannot be reclassified.</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Malware Accomplice
                <div class="small text-muted">Sites used by malicious programs, including sites used to host upgrades or store stolen information</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">New Domain
                <div class="small text-muted">Newly-detected domains (for example, throwaway domains); domains that have not been classified by Trend Micro</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Password Cracking
                <div class="small text-muted">Sites that distribute password cracking software</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Phishing
                <div class="small text-muted">Fraudulent sites that mimic legitimate sites to gather sensitive information, such as user names and passwords</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Proxy Avoidance
                <div class="small text-muted">Sites about bypassing proxy servers or Web filtering systems, including sites that provide tools for that purpose</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Remote Access Program
                <div class="small text-muted">Sites that provide tools for remotely monitoring and controlling computers</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Scam
                <div class="small text-muted">Sites that attempt to defraud a person or group after first gaining their confidence, used in the classical sense of trust. They often play confidence tricks to exploit typical human characteristics such as greed, dishonesty, vanity, opportunism, lust, compassion, credulity, irresponsibility, desperation, and naivety</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Spam
                <div class="small text-muted">Sites whose addresses have been found in spam messages</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Spyware
                <div class="small text-muted">Sites with downloads that gather and transmit data from computers owned by unsuspecting users</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Web Advertisements
                <div class="small text-muted">Sites dedicated to displaying advertisements, including sites used to display banner or popup ads</div>
              </label>
            </div>

          </div>

          <div class="tab-pane fade" id="lifestyle">

            <h3 class="tab-header display-5">Lifestyle</h3>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Activist Groups
                <div class="small text-muted">Sites that promote change in public policy, public opinion, social practice, economic activities, or economic relationships; includes sites controlled by service, philanthropic, professional, or labor organizations</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Alternative Journals
                <div class="small text-muted">Online equivalents of supermarket tabloids and other fringe publications</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Arts
                <div class="small text-muted">Sites about the visual arts, such as painting and sculpture</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Cult / Occult
                <div class="small text-muted">Sites about alternative religions, beliefs, and religious practices, including those considered cult or occult</div>
              </label>
            </div>

            <div class="radio">
              <label
                <input name="url-classification" type="radio" value="">Cultural Institutions
                <div class="small text-muted">Sites controlled by organizations that seek to preserve cultural heritage, such as libraries or museums; also covers sites owned by the Boy Scouts, the Girl Scouts, Rotary International, and similar organizations</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Entertainment
                <div class="small text-muted">Sites that promote or provide information about movies, music, non-news radio and television, books, or magazines</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">For Kids
                <div class="small text-muted">Sites designed for children</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Games
                <div class="small text-muted">Sites about board games, card games, console games, or computer games; includes sites that sell games or related merchandise</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Gun Clubs / Hunting
                <div class="small text-muted">Sites about gun clubs or similar groups; includes sites about hunting, war gaming, or paintball facilities</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Humor
                <div class="small text-muted">Sites intended for humor</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Personal Sites
                <div class="small text-muted">Sites maintained by individuals about themselves or their interests; excludes personal pages in social networking sites, blog sites, or similar services</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Personals / Dating
                <div class="small text-muted">Sites that help visitors establish relationships, including sites that provide singles listings, matchmaking, or dating services</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Recreation / Hobbies
                <div class="small text-muted">Sites about recreational activities and hobbies, such as collecting, gardening, outdoor activities, traditional (non-video) games, and crafts; includes sites about pets, recreational facilities, or recreational organizations</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Religion
                <div class="small text-muted">Sites about popular religions, their practices, or their places of worship</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Restaurants / Food
                <div class="small text-muted">Sites that list, review, discuss, advertise, or promote food, catering, dining services, cooking, or recipes</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Society / Lifestyle
                <div class="small text-muted">Sites that provide information about life or daily matters; excludes sites about entertainment, hobbies, sex, or sports, but includes sites about cosmetics or fashion</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Sports
                <div class="small text-muted">Sites about sports or other competitive physical activities; includes fan sites or sites that sell sports merchandise</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Travel
                <div class="small text-muted">Sites about travelling or travel destinations; includes travel booking and planning sites</div>
              </label>
            </div>

          </div>

          <div class="tab-pane fade" id="network-bandwidth">

            <h3 class="tab-header display-5">Network Bandwidth</h3>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Internet Radio and TV
                <div class="small text-muted">Sites that primarily provide streaming radio or TV programming; excludes sites that provide other kinds of streaming content</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Pay to Surf
                <div class="small text-muted">Sites that compensate users who view certain Web sites, email messages, or advertisements or users who click links or respond to surveys</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Peer-to-peer
                <div class="small text-muted">Sites that provide information about or software for sharing and transferring files within a peer-to-peer (P2P) network</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Photo Searches
                <div class="small text-muted">Sites that primarily host images, allowing users to share, organize, store, or search for photos or other images</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Ringtones / Mobile Phone Downloads
                <div class="small text-muted">Sites that provide content for mobile devices, including ringtones, games, or videos</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Sharing Services
                <div class="small text-muted">Sites that enable sharing of files and other content</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Software Downloads
                <div class="small text-muted">Sites dedicated to providing free, trial, or paid software downloads</div>
              </label>
            </div>

            <div class="radio">
              <label>
                <input name="url-classification" type="radio" value="">Streaming Media / MP3
                <div class="small text-muted">Sites that offer streaming video or audio content without radio or TV programming; sites that provide music or video downloads, such as MP3 or AVI files</div>
              </label>
            </div>

          </div>

        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-info btn-sm" type="button">Select New Classification</button>
        <button class="btn btn-link btn-sm" data-dismiss="modal" type="button">Cancel</button>
      </div>
    </div>
  </div>
</div>
