@charset 'utf-8';

/********** Heading **********/

.heading
{
    margin: 40px 0 25px;
}

.heading-title
{
    margin: 0;
}

.heading-title img
{
    height: 50px;
    margin-right: 10px;
}

.heading-subtitle
{
    margin-top: 5px;
    margin-bottom: 0;
}

.heading-subtitle:empty
{
    display: none;
}

.heading-details ul
{
    display: inline;

    padding: 0;

    list-style-type: none;
}

.heading-details ul li
{
    display: inline;

    margin-right: 20px;
}

.heading-details ul li span
{
    font-weight: 600;

    margin-right: 5px;
}

.heading-details ul li ul li
{
    margin-right: 3px;
}

.heading-details ul li ul li:after
{
    content: ',';
}

.heading-details ul li ul li:last-child:after
{
    content: normal;
}





/********** Page Heading **********/

.page-heading {
  margin-top: 55px !important;
  margin-bottom: 25px;
  text-align: center;
}

.page-heading-title span {
  display: block;
  text-transform: uppercase;
  font-size: 75%;
}

@media (min-width: 992px) {

  .page-heading-title span {
    display: inline-block;
    text-transform: inherit;
    font-size: 100%;
  }

}





/********** Global Header **********/

#global-header
{
    background-color: #4d4d4f;
}

#global-header .nav > li
{
    display: inline-block;
}

#global-header .nav > li > a
{
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;

    padding: 5px 15px;

    color: #aaa;
}

#global-header .nav > .open > a,
#global-header .nav > li > a:hover,
#global-header .nav > li > a:focus
{
    color: #fff;
    background-color: #444;
}

#global-header .nav > .active > a,
#global-header .nav > .active > a:hover,
#global-header .nav > .active > a:focus
{
    color: #fff;
    background-color: #333;
}





/********** Main Navigation **********/

#main-navigation .nav-tabs
{
    margin-left: -10px;

    border-bottom: 0;
}

@media (min-width: 1200px)
{
    #main-navigation .nav-tabs
    {
        margin-left: 0;
    }
}


#main-navigation .nav-tabs > li > a
{
    padding: 0 10px;

    border-right: 0;
}

@media (min-width: 1200px)
{
    #main-navigation .nav-tabs > li > a
    {
        font-size: 14px;

        padding: 0 15px;
    }
}

#main-navigation .nav-tabs .dropdown .dropdown-menu
{
    margin-top: 0;
}

#main-navigation .nav-tabs .active .dropdown-menu
{
    margin-top: 3px;
}

#main-navigation .dropdown-menu .cta a
{
    font-weight: 600;

    text-transform: uppercase;

    color: #4a8db8;
}

#main-navigation .dropdown-menu .cta a:hover
{
    color: #fff;
}





/********** Global Slider **********/

#global-slider
{
    position: fixed;
    z-index: 1040;
    top: 0;
    bottom: 0;

    display: none;
    overflow-x: hidden;
    overflow-y: overlay;

    width: 250px;
    height: 100%;

    border-left: 1px solid #e1e1e1;
    background-color: #fff;
}

#global-slider .close
{
    font-size: 25px;
    line-height: 25px;

    position: absolute;
    top: 0;
    left: 0;

    width: 50px;
    height: 50px;
    padding: 0;
}

#global-slider #user-profile
{
    display: block;
    float: none;

    margin: 0;
    padding: 20px;

    text-align: center;

    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
}

#global-slider .user-avatar
{
    float: none;

    margin-right: 0;
}

#global-slider .user-avatar img
{
    width: 60px;
    height: 60px;
}

#global-slider .user-details
{
    float: none;

    margin: 0;
    padding-top: 10px;
}

#global-slider .sign-in
{
    padding: 0;
}

#global-slider .my-account
{
    display: inline-block;

    width: 100%;
    padding: 10px 25px;

    cursor: pointer;
    text-align: right;

    border-bottom: 1px solid #ddd;
    background-color: #eee;
}

#global-slider .my-account:hover a
{
    text-decoration: none;

    color: #ee5e64;
}

#global-slider .user-menu
{
    position: relative;

    display: none;

    height: calc(100vh - 190px);

    border-bottom: 1px solid #e1e1e1;
    background-color: #f8f8f8;
}

#global-slider .slider-menu,
#global-slider .user-menu
{
    padding: 16px 8px;
}

#global-slider nav ul li a,
#global-slider nav ul .nav-header
{
    padding: 10px 25px;
}

#global-slider::-webkit-scrollbar
{
    display: none;
}

.slider-overlay
{
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .75);
}





/********** Global Search **********/

#global-search
{
    padding: 10px 0;

    border-bottom: 1px solid #ddd;
    background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
}

@media (min-width: 768px)
{
    #global-search
    {
        padding: 20px 0;
    }
}

@media (min-width: 992px)
{
    #global-search
    {
        padding: 30px 0;
    }
}

#global-search .btn
{
    min-width: 60px;
    padding: 10px 13px;
}

@media (min-width: 768px)
{
    #global-search .btn
    {
        min-width: 70px;
        padding: 12.5px 13px;
    }
}

@media (min-width: 992px)
{
    #global-search .btn
    {
        min-width: 80px;
        padding: 15px 13px;
    }
}

#global-search .btn,
#global-search .form-control
{
    height: 40px;
}

@media (min-width: 768px)
{
    #global-search .btn,
    #global-search .form-control
    {
        height: 45px;
    }
}

@media (min-width: 992px)
{
    #global-search .btn,
    #global-search .form-control
    {
        height: 50px;
    }
}

#global-search .form-control
{
    padding-right: 53px;
}

@media (min-width: 768px)
{
    #global-search .form-control
    {
        padding-right: 58px;
    }
}

@media (min-width: 992px)
{
    #global-search .form-control
    {
        padding-right: 63px;
    }
}

#global-search .reset
{
    line-height: 40px;

    width: 40px;
    height: 40px;
}

@media (min-width: 768px)
{
    #global-search .reset
    {
        line-height: 45px;

        width: 45px;
        height: 45px;
    }
}

@media (min-width: 992px)
{
    #global-search .reset
    {
        line-height: 50px;

        width: 50px;
        height: 50px;
    }
}

#global-search .bootstrap-select .btn
{
    margin-left: -1px;

    border-radius: 0;
}

#global-search .bootstrap-select .dropdown-menu
{
    width: 526px;
    max-width: 1000px;
    margin-top: -1px;
    margin-right: 1px;
}

@media (min-width: 1200px)
{
    #global-search .bootstrap-select .dropdown-menu
    {
        width: 465px;
    }
}

@media (min-width: 1440px)
{
    #global-search .bootstrap-select .dropdown-menu
    {
        width: 480px;
    }
}

@media (min-width: 1600px)
{
    #global-search .bootstrap-select .dropdown-menu
    {
        width: 600px;
    }
}





/********** Custom Search **********/

#custom-search {
    margin: 15px 0;
}

#custom-search .input-group {
  padding: 0 30px;
}

#custom-search .btn
{
    min-width: 60px;
    padding: 10px 13px;
}

@media (min-width: 768px)
{
    #custom-search .btn
    {
        min-width: 70px;
        padding: 10px 13px;
    }
}

@media (min-width: 992px)
{
    #custom-search .btn
    {
        min-width: 80px;
        padding: 10px 13px;
    }
}

#custom-search .btn,
#custom-search .form-control
{
    height: 30px;
}

@media (min-width: 768px)
{
    #custom-search .btn,
    #custom-search .form-control
    {
        height: 35px;
    }
}

@media (min-width: 992px)
{
    #custom-search .btn,
    #custom-search .form-control
    {
        height: 40px;
    }
}

#custom-search .form-control
{
    padding-right: 53px;
}

@media (min-width: 768px)
{
    #custom-search .form-control
    {
        padding-right: 58px;
    }
}

@media (min-width: 992px)
{
    #custom-search .form-control
    {
        padding-right: 63px;
    }
}

#custom-search .reset
{
    line-height: 40px;

    width: 40px;
    height: 40px;
}

@media (min-width: 768px)
{
    #custom-search .reset
    {
        line-height: 45px;

        width: 45px;
        height: 45px;
    }
}

@media (min-width: 992px)
{
    #custom-search .reset
    {
        line-height: 50px;

        width: 50px;
        height: 50px;
    }
}

#custom-search .bootstrap-select .btn
{
    margin-left: -1px;

    border-radius: 0;
}

#custom-search .bootstrap-select .dropdown-menu
{
    width: 282px;
    max-width: 1000px;
    margin-top: -1px;
    margin-right: 1px;
}

@media (min-width: 1200px)
{
    #custom-search .bootstrap-select .dropdown-menu
    {
        width: 482px;
    }
}

@media (min-width: 1440px)
{
    #custom-search .bootstrap-select .dropdown-menu
    {
        width: 512px;
    }
}

@media (min-width: 1600px)
{
    #custom-search .bootstrap-select .dropdown-menu
    {
        width: 682px;
    }
}





/********** User Profile **********/

#user-profile {
    float: right;
    margin: 10px 0;
}

#user-profile > a {
    display: table;
    padding: 5px 15px;
    border-radius: 5px;
    color: #555555;
}

#user-profile.open > a,
#user-profile > a:hover,
#user-profile > a:focus {
    background-color: #f0f0f0;
}

.user-avatar {
    float: left;
    margin-right: 10px;
}

.user-avatar img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.user-details {
    float: left;
    padding: 2.5px 0;
}

.user-name {
    font-size: 15px;
    line-height: 20px;
}

.user-company {
    font-size: 12px;
    line-height: 15px;
}





/********** Mobile Header **********/

#mobile-header {
    background-color: #db3d44;
    color: #fff;
    /*border-bottom: 1px solid #ddd;*/
    text-align: center;
    padding: 10px 0;
    margin-bottom: 25px;
    -webkit-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}

#mobile-header:empty {
    display: none;
}

.mobile-header-fixed {
  position: fixed;
  top: 55px;
  width: 100%;
  z-index: 1010;
}

@media (min-width: 480px) {
    .mobile-header-fixed {
      top: 60px;
    }
}

@media (min-width: 768px) {
  .mobile-header-fixed {
    top: 65px;
  }
}



/********** Sitemap **********/

#portal-links {
    border-bottom: 1px solid #ddd;
    border-right: 0;
}

@media (min-width: 992px) {
    #portal-links {
        border-bottom: 0;
        border-right: 1px solid #ddd;
    }
}

#more-links {
    padding: 0 15px;
    padding-top: 15px;
}

@media (min-width: 992px) {
    #more-links {
        padding: 30px 45px;
    }
}





/********** Support Resources **********/

#resources-wrapper {
    font-size: 13px;
    line-height: 1.25em;
    position: absolute;
    bottom: 230px;
    width: 100%;
    min-height: 80px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    background-color: #f8f8f8;
}

#resources-wrapper .tooltip .tooltip-inner {
    text-align: center;
}

@media (min-width: 480px) {
    #resources-wrapper {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    #resources-wrapper {
        bottom: 231px;
    }
}

@media (min-width: 992px) {
    #resources-wrapper {
        bottom: 100px;
    }
}

#resources-wrapper a {
    display: block;
    text-decoration: none;
    color: #777;
}

#resources-wrapper a:hover,
#resources-wrapper a:active {
    text-decoration: none;
    color: #db3d44;
}

#resources-wrapper img {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
}

@media (min-width: 480px) {
    #resources-wrapper img {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 768px) {
    #resources-wrapper img {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 992px) {
    #resources-wrapper img {
        width: 60px;
        height: 60px;
    }
}

#resources-wrapper span {
    display: block;
    margin: 10px 0 20px;
}

#resources-wrapper span br {
    display: block;
}

@media (min-width: 768px) {
    #resources-wrapper span br {
        display: none;
    }
}

#footer-contact-support,
#footer-download-center,
#footer-product-documentation,
#footer-support-policies,
#footer-vulnerability-response,
#footer-feedback {
    padding: 0 10px;
}

@media (min-width: 992px) {
    #footer-contact-support,
    #footer-download-center,
    #footer-product-documentation,
    #footer-support-policies,
    #footer-vulnerability-response,
    #footer-feedback {
        margin-top: -50px;
        padding: 0 10px;
    }
}

#footer-contact-support img {
    background-color: #004e78;
}

#footer-download-center img {
    background-color: #f15a22;
}

#footer-product-documentation img {
    background-color: #39b54a;
}

#footer-support-policies img {
    background-color: #49092d;
}

#footer-vulnerability-response img {
    background-color: #493087;
}

#footer-feedback img {
    background-color: #a70e13;
}





/********** Footer **********/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 55px;
    margin-bottom: 230px;
}

@media (min-width: 480px) {
    body {
        margin-top: 60px;
        /*margin-bottom: 479px;*/
    }
}

@media (min-width: 768px) {
    body {
        margin-top: 65px;
        /*margin-bottom: 466px;*/
    }
}

@media (min-width: 992px) {
    body {
        margin-top: 75px;
        margin-bottom: 100px;
    }
}

/*@media (min-width: 1200px) {
    body {
        margin-bottom: 180px;
    }
}*/

main.container {
    padding-bottom: 30px;
}

@media (min-width: 768px) {
    main.container {
        padding-bottom: 40px;
    }
}

@media (min-width: 992px) {
    main.container {
        padding-bottom: 50px;
    }
}

/*@media (min-width: 1200px) {
    main.container {
        padding-bottom: 50px;
    }
}*/





















.section {
  padding: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
}






#support-banner {
  /*padding: 100px 0 350px;*/
  text-align: center;
  /*background-image: url("../images/support-banner.jpg");*/
  /*background-position: center bottom;*/
  /*background-size: cover;*/
  margin-bottom: 30px;
  /*border-bottom: 1px solid #ddd;*/
}

#support-banner .heading {
  /*margin: 0 !important;*/
}

#support-banner .heading-title {
  font-size: 48px;
  font-family: "Interstate-ExtraLight"
}
#support-banner .heading-subtitle {
  font-size: 20px;
  margin-top: 15px;
}
