#idea-banner {
  margin: 25px 0;
}

#idea-banner img {
  width: 100%;
}

#idea-list,
#idea-comment-list {
  margin-bottom: 0;
}

#idea-list .media,
#idea-comment-list .media {
  padding: 20px 10px;
}

#idea-list .media-left {
  min-width  : 125px;
  text-align : center;
}

#idea-list .media-object {
  max-width     : 50px;
  margin        : 0 auto;
  border-radius : 50%;
}

#idea-list .media-subtitle,
#idea-comment-list .media-subtitle {
  text-transform: uppercase;
  margin-bottom: 5px;
}
