<div id="trend-box">

  <div class="help-block">
    <ul class="list list-condensed">
      <li>Use the Case Diagnostic Tool for best results: <a href="">Windows</a> | <a href="">Linux</a> | <a href="">Solaris</a>. <a href="">Learn more about CDT</a>.</li>
      <li><strong>Maximum file size of 250 MB per file</strong>. For larger files, please inform the assigned support engineer after you have created the case.</li>
      <li>If you encounter problems with the attachment field, <a href="{{ site.baseurl }}/en-us/user-guide/internet-explorer-security-configuration.html" target="_blank">click here</a>.</li>
    </ul>
  </div>

  <div class="iframe form-control">
    <p style="margin-bottom: 0;">
      <strong><i class="fa fa-cloud-upload fa-right"></i>Drop up to 3 files here</strong>
      <br />
      - or -
      <br />
      <a href="">Select form Computer</a>
    </p>
  </div>

</div>
