---

layout: en-esupport

meta-title: Technical Support - OfficeScan XG

heading-title: OfficeScan XG
heading-title-display: 2

heading-visibility: hidden-xs hidden-sm
heading-image-visibility: none
heading-subtitle-top-visibility: none
heading-subtitle-bottom-visibility: none
heading-subtitle-link-visibility: none

notification-style: info
notification-icon: fa-info-circle
notification-title: INFO
notification-body: To know more about Ransomware
notification-action: Read More

alert-style: dark
alert-title: OfficeScan XG Support Webinar Series
alert-body: <ul class="list list-icon-red icon-angle-right list-nospace"><li><a href="">Replay - An Overview of OfficeScan XG (free upgrade)</a></li><li><a href="">OfficeScan XG Setup | Edge Server Configuration for Remote Clients</a></li><li><a href="">Frequently asked Questions</a></li></ul>

---

<style>
  .section-body,
  .media-body {
    max-width: initial;
  }
  .list-ranked .media {
    overflow: inherit;
  }
</style>

<div class="row">

  <div class="col-md-6">
    <div class="section" id="popular-topics">
      <div class="section-heading">
        <h2 class="section-title display-6">Featured Topics</h2>
        <div class="form-inline pull-right">
          <div class="form-group">
            <select class="form-control input-xs">
              <option value="Recommended">Recommended</option>
              <option value="Most Helpful">Most Helpful</option>
              <option value="Most Viewed">Most Viewed</option>
            </select>
          </div>
        </div>
      </div>
      <div class="section-body">
        <ul class="list list-article list-ranked list-bordered" id="recommended">
          <li class="media">
            <div class="media-content">
              <a href="{{ site.baseurl }}/en-us/business/solution/">Supported upgrade path to OfficeScan (OSCE) XG</a>
            </div>
          </li>
          <li class="media">
            <div class="media-content">
              <a href="{{ site.baseurl }}/en-us/business/solution/">Files to back up before upgrading, migrating, or uninstalling the OfficeScan server</a>
            </div>
          </li>
          <li class="media">
            <div class="media-content">
              <a href="{{ site.baseurl }}/en-us/business/solution/">Enabling the Ransomware Protection feature in OfficeScan (OSCE) 11.0 Service Pack 1 (SP1)</a>
            </div>
          </li>
          <li class="media">
            <div class="media-content">
              <a href="{{ site.baseurl }}/en-us/business/solution/">Best practices in configuring OfficeScan (OSCE) for malware protection</a>
            </div>
          </li>
        </ul>

       <ul class="list list-article list-ranked list-bordered" id="most-helpful">
         <li class="media">
           <div class="media-content">
             <a href="{{ site.baseurl }}/en-us/business/solution/">Installing or upgrading OfficeScan removes the McAfee ePO agent in the client machine</a>
           </div>
           <div class="media-right">
             <span class="small text-muted text-nowrap"><i class="fa fa-eye fa-right"></i>1.6 M</span>
           </div>
         </li>
         <li class="media">
           <div class="media-content">
             <a href="{{ site.baseurl }}/en-us/business/solution/">Enable debugging for Behavior Monitoring in OfficeScan</a>
           </div>
           <div class="media-right">
             <span class="small text-muted text-nowrap"><i class="fa fa-eye fa-right"></i>1.6 M</span>
           </div>
         </li>
         <li class="media">
           <div class="media-content">
             <a href="{{ site.baseurl }}/en-us/business/solution/">Creating a memory dump file after getting a Blue-Screen-of-Death (BSoD)</a>
           </div>
           <div class="media-right">
             <span class="small text-muted text-nowrap"><i class="fa fa-eye fa-right"></i>1.6 M</span>
           </div>
         </li>
         <li class="media">
           <div class="media-content">
             <a href="{{ site.baseurl }}/en-us/business/solution/">Items to consider when doing a fresh installation for OfficeScan (OSCE)</a>
           </div>
           <div class="media-right">
             <span class="small text-muted text-nowrap"><i class="fa fa-eye fa-right"></i>1.4 M</span>
           </div>
         </li>
         <li class="media">
           <div class="media-content">
             <a href="{{ site.baseurl }}/en-us/business/solution/">Controlling infections during a virus outbreak</a>
           </div>
           <div class="media-right">
             <span class="small text-muted text-nowrap"><i class="fa fa-eye fa-right"></i>1.4 M</span>
           </div>
         </li>
       </ul>


        <ul class="list list-article list-ranked list-bordered" id="most-viewed">
          <li class="media">
            <div class="media-content">
              <a href="{{ site.baseurl }}/en-us/business/solution/">Using the CDT to collect the information needed by Technical Support</a>
            </div>
            <div class="media-right">
              <span class="small text-muted text-nowrap"><i class="fa fa-thumbs-o-up fa-right"></i>298</span>
            </div>
          </li>
          <li class="media">
            <div class="media-content">
              <a href="{{ site.baseurl }}/en-us/business/solution/">Using the Trend Micro AntiRansomware Tool in OfficeScan</a>
            </div>
            <div class="media-right">
              <span class="small text-muted text-nowrap"><i class="fa fa-thumbs-o-up fa-right"></i>139</span>
            </div>
          </li>
          <li class="media">
            <div class="media-content">
              <a href="{{ site.baseurl }}/en-us/business/solution/">"OfficeScan Agents do not have a valid OfficeScan Server certificate" appears on the dashboard</a>
            </div>
            <div class="media-right">
              <span class="small text-muted text-nowrap"><i class="fa fa-thumbs-o-up fa-right"></i>127</span>
            </div>
          </li>
          <li class="media">
            <div class="media-content">
              <a href="{{ site.baseurl }}/en-us/business/solution/">Manually updating pattern files and scan engine in OfficeScan server and client</a>
            </div>
            <div class="media-right">
              <span class="small text-muted text-nowrap"><i class="fa fa-thumbs-o-up fa-right"></i>50</span>
            </div>
          </li>
          <li class="media">
            <div class="media-content">
              <a href="{{ site.baseurl }}/en-us/business/solution/">Recommended scan exclusion list for Trend Micro Endpoint products in OfficeScan (OSCE)</a>
            </div>
            <div class="media-right">
              <span class="small text-muted text-nowrap"><i class="fa fa-thumbs-o-up fa-right"></i>47</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="section" id="latest-articles">
      <div class="section-heading">
        <h2 class="section-title display-6">Latest Articles</h2>
      </div>
      <div class="section-body">
        <ul class="list list-article list-bordered">
          <li class="media">
            <div class="media-content">
              <a href="{{ site.baseurl }}/en-us/business/solution/">Resolved questions about quarantine file restore in OfficeScan (OSCE) 11.0</a>
            </div>
            <div class="media-right">
              <span class="small text-muted text-nowrap">May 19, 2016</span>
            </div>
          </li>
          <li class="media">
            <div class="media-content">
              <a href="{{ site.baseurl }}/en-us/business/solution/">Files that can be deleted from AU_Storage in OfficeScan (OSCE)</a>
            </div>
            <div class="media-right">
              <span class="small text-muted text-nowrap">Apr 18, 2016</span>
            </div>
          </li>
          <li class="media">
            <div class="media-content">
              <a href="{{ site.baseurl }}/en-us/business/solution/">Performing a manual rollback of the Virus Scan Engine (VSAPI) pattern for an OfficeScan (OSCE) client</a>
            </div>
            <div class="media-right">
              <span class="small text-muted text-nowrap">Apr 15, 2016</span>
            </div>
          </li>
          <li class="media">
            <div class="media-content">
              <a href="{{ site.baseurl }}/en-us/business/solution/">Creating and configuring an MSI OfficeScan (OSCE) client installation package for fresh installations and upgrades</a>
            </div>
            <div class="media-right">
              <span class="small text-muted text-nowrap">Mar 16, 2016</span>
            </div>
          </li>
          <li class="media">
            <div class="media-content">
              <a href="{{ site.baseurl }}/en-us/business/solution/">Empty endpoint and domain nodes list after deploying agents via remote installation in OfficeScan (OSCE)</a>
            </div>
            <div class="media-right">
              <span class="small text-muted text-nowrap">Mar 7, 2016</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

<hr class="dashed" />


<div class="page-heading">
  <h2 class="page-heading-title display-3">Topics by Category</h2>
</div>

<div class="row">

  {% include _en-us/components/nav/side-nav/product-home.html %}

  <div class="col-md-9 col-lg-10 tab-content responsive-pills">

    <div class="tab-pane active" id="deploy-and-install">
      <div class="section">
        <div class="section-heading">
          <h2 class="display-6">Deploy &amp; Install</h2>
        </div>
        <div class="section-body">
          <ul class="list list-article list-bordered">
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Installing the Deep Security Agent (DSA) without the Notifier</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Mar 02, 2016</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Performing silent uninstallation of Deep Security Manager (DSM) from Windows machine</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Oct 08, 2015</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Issues when installing and upgrading Deep Security Agent with third-party Microsoft Network Driver Interface Specification (NDIS) drivers</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Oct 06, 2015</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">"Unable to access Database schema. Installation cannot continue" error occurs when upgrading Deep Security Manager (DSM)</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Sep 24, 2015</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Virus Scan Engine (VSAPI) 9.85 is now available</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Sep 23, 2015</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="section-footer text-right" style="font-size: 15px;">
          <a href="{{ site.baseurl }}/en-us/business/search-result.html"><strong>See more Deploy &amp; Install Articles</strong><i class="fa fa-lg fa-left fa-angle-right"></i></a>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="update-and-migrate">
      <div class="section">
        <div class="section-heading">
          <h2 class="section-title display-6">Update &amp; Migrate</h2>
        </div>
        <div class="section-body">
          <ul class="list list-article list-bordered">
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">VMware Tools 10.x Interoperability Issues with Deep Security</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Feb 19, 2016</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Mitigating JS_NEMUCOD using Trend Micro Products</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Feb 11, 2016</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Manually updating the Deep Security Manager (DSM) database before upgrading to 9.6 SP1</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Jan 12, 2016</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Emerging threat on CRYPWALL version 4</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Dec 18, 2015</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Mitigating BKDR_PLUGX using Trend Micro Products</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Dec 07, 2015</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="section-footer text-right" style="font-size: 15px;">
          <a href="{{ site.baseurl }}/en-us/business/search-result.html"><strong>See more Update &amp; Migrate Articles</strong><i class="fa fa-lg fa-left fa-angle-right"></i></a>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="configure-and-maintain">
      <div class="section">
        <div class="section-heading">
          <h2 class="section-title display-6">Configure &amp; Maintain</h2>
        </div>
        <div class="section-body">
          <ul class="list list-article list-bordered">
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Issue in activating the recomposed virtual machines in Deep Security Combined Mode</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Mar 09, 2016</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Mitigating JS_NEMUCOD using Trend Micro Products</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Feb 11, 2016</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Deep Security 9.6 Service Pack (SP) 1 is now available</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Jan 13, 2016</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Importing PKCS#12 (.pfx) certificate as Deep Security Manager console certificate</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Jan 05, 2016</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Emerging threat on CRYPWALL version 4</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Dec 18, 2015</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="section-footer text-right" style="font-size: 15px;">
          <a href="{{ site.baseurl }}/en-us/business/search-result.html"><strong>See more Configure &amp; Maintain Articles</strong><i class="fa fa-lg fa-left fa-angle-right"></i></a>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="error-and-troubleshooting">
      <div class="section">
        <div class="section-heading">
          <h2 class="section-title display-6">Error &amp; Troubleshooting</h2>
        </div>
        <div class="section-body">
          <ul class="list list-article list-bordered">
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">"Error 403 Forbidden" appears when installing Deep Security Agent (DSA) on AWS Cloud VM with a proxy connection</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Mar 15, 2016</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Issue in synchronizing Azure VMs with Deep Security Cloud connector</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Mar 02, 2016</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Mitigating JS_NEMUCOD using Trend Micro Products</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Feb 11, 2016</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Deep Security Manager (DSM) service cannot start after RHEL 7.2 system boot up</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Feb 03, 2016</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Emerging threat on CRYPWALL version 4</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Dec 18, 2015</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="section-footer text-right" style="font-size: 15px;">
          <a href="{{ site.baseurl }}/en-us/business/search-result.html"><strong>See more Error &amp; Troubleshooting Articles</strong><i class="fa fa-lg fa-left fa-angle-right"></i></a>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="account-and-license">
      <div class="section">
        <div class="section-heading">
          <h2 class="section-title display-6">Account &amp; License</h2>
        </div>
        <div class="section-body">
          <ul class="list list-article list-bordered">
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Failure activating Deep Security Agent (DSA) in multi-NIC servers</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Sep 13, 2015</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Deploying and activating Deep Security Agent (DSA) using PowerShell</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Sep 11, 2015</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Updating the product license of Deep Security Manager (DSM)</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Sep 11, 2015</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">Finding the Activation Code for the Deep Security License</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Sep 11, 2015</span>
              </div>
            </li>
            <li class="media">
              <div class="media-content">
                <a href="{{ site.baseurl }}/en-us/business/solution/">“Error: Unable to load agent private key. Error: 0906A068…” appears when activating the Deep Security Agent (DSA)</a>
              </div>
              <div class="media-right">
                <span class="small text-muted text-nowrap">Sep 11, 2015</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="section-footer text-right" style="font-size: 15px;">
          <a href="{{ site.baseurl }}/en-us/business/search-result.html"><strong>See more Account &amp; License Articles</strong><i class="fa fa-lg fa-left fa-angle-right"></i></a>
        </div>
      </div>
    </div>

  </div>

</div>

<hr class="dashed" />

<div class="page-heading text-center">
  <h2 class="page-heading-title display-3">More from {{ page.heading-title }}</h2>
</div>

<div class="row">

  <div class="col-md-12 col-lg-4">
    <div class="well well-default">
      <div class="well-heading">
        <h2 class="well-title display-7">Popular Ideas</h2>
      </div>
      <div class="well-body">
        <ul class="list list-bordered" id="idea-list">
          {% for post in site.posts %}
          <li class="media">
            <div class="media-content">
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.idea-title }}</a>
              <div class="small text-muted">
                <span class="published-date">{{ post.idea-date }}</span> - <span class="label label-default"><strong class="text-{{ post.idea-status-type }}">{{ post.idea-status }}</strong></span>
              </div>
            </div>
            <div class="media-right">
              <p class="text-sm-center text-muted">{{ post.idea-votes }}<br class="hidden-xs" /> <span class="small">Points</span></p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="well-footer">
        <a href="{{ site.baseurl }}/en-us/business/ideas/idea-search.html"><strong>See more Ideas<i class="fa fa-lg fa-angle-right fa-left"></i></strong></a>
      </div>
    </div>
  </div>

  <div class="col-md-4">

    <div class="section section-default section-border-top" id="download-section">
      <div class="section-heading">
        <h2 class="section-title display-7">Latest in Download</h2>
      </div>
      <div class="section-body">
        <ul class="list list-icon-red list-icon-center icon-download">
          <li>
            <a href="">Critical Patch</a>
            <div class="small text-muted">
              <strong>Size</strong>: 2.8 MB<strong style="margin-left: 10px;">OS</strong>: Windows
            </div>
          </li>
          <li>
            <a href="">Product Patch</a>
            <div class="small text-muted">
              <strong>Size</strong>: 113.2 MB<strong style="margin-left: 10px;">OS</strong>: Windows
            </div>
          </li>
          <li>
            <a href="">Full Installation Package</a>
            <div class="small text-muted">
              <strong>Size</strong>: 1687.2 MB<strong style="margin-left: 10px;">OS</strong>: Windows
            </div>
          </li>
        </ul>
      </div>
      <div class="section-footer">
        <a href=""><strong>View all Downloads<i class="fa fa-lg fa-angle-right fa-left"></i></strong></a>
      </div>
    </div>

  </div>

  <div class="col-md-4">

    <div class="section section-default section-border-top" id="documentation-section">
      <div class="section-heading">
        <h2 class="section-title display-7">Documentation</h2>
      </div>
      <div class="section-body">
        <ul class="list list-icon-red list-icon-center">
          <li class="icon-file-code-o">
            <a href="">OfficeScan 11.0 SP1 Server Readme</a>
            <div class="small text-muted">
              <strong>File Type</strong>: Web Page
            </div>
          </li>
          <li class="icon-file-code-o">
            <a href="">OfficeScan 11.0 SP1 Critical Patch Server Readme</a>
            <div class="small text-muted">
              <strong>File Type</strong>: Web Page
            </div>
          </li>
          <li class="icon-file-code-o">
            <a href="">OfficeScan 11.0 SP1 Critical Patch Server Readme</a>
            <div class="small text-muted">
              <strong>File Type</strong>: Web Page
            </div>
          </li>
        </ul>
      </div>
      <div class="section-footer">
        <a href=""><strong>View all Documentation<i class="fa fa-lg fa-angle-right fa-left"></i></strong></a>
      </div>
    </div>

  </div>

</div>
