<ul class="col-md-3 col-lg-2 nav nav-pills responsive-pills sidebar-navigation">
  <li class="active">
    <a href="#deploy-and-install" data-toggle="tab">デプロイ＆インストール</a>
  </li>
  <li>
    <a href="#update-and-migrate" data-toggle="tab">アップデート＆移行</a>
  </li>
  <li>
    <a href="#configure-and-maintain" data-toggle="tab">設定＆メンテナンス</a>
  </li>
  <li>
    <a href="#error-and-troubleshooting" data-toggle="tab">エラー＆トラブルシューティング</a>
  </li>
  <li>
    <a href="#account-and-license" data-toggle="tab">アカウント＆ライセンス</a>
  </li>
</ul>
