<div class="heading {{ page.heading-visibility }} {{ page.heading-text-align }} {{ heading-text-color }}">
  <p class="heading-subtitle {{ page.heading-subtitle-text-color }}" style="display: {{ page.heading-subtitle-top-visibility }};">
    {{ page.heading-subtitle }} <a href="{{ page.heading-subtitle-link-url }}" {{ page.heading-subtitle-link-modal }} style="display: {{ page.heading-subtitle-link-visibility }};">{{ page.heading-subtitle-link-text }}</a>
  </p>
  <h1 class="heading-title display-{{ page.heading-title-display }} {{ page.heading-title-text-color }}">
    <img src="{{ site.baseurl }}/assets/images/{{ page.heading-image-url }}" alt="{{ page.heading-title }}" title="{{ page.heading-title }}" style="display: {{ page.heading-image-visibility }};">{{ page.heading-title }}
  </h1>
  <p class="heading-subtitle {{ page.heading-subtitle-text-color }}" style="display: {{ page.heading-subtitle-bottom-visibility }};">
    {{ page.heading-subtitle }} <a href="{{ page.heading-subtitle-link-url }}" {{ page.heading-subtitle-link-modal }} style="display: {{ page.heading-subtitle-link-visibility }};">{{ page.heading-subtitle-link-text }}</a>
  </p>
</div>
