<div id="global-search">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-push-2 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
        <form>
          <div class="input-group input-group-lg" style="padding: 5px; background-color: rgba(0,0,0,.25);">
            <div class="form-group form-reset">
              <input class="form-control" type="search" placeholder="Search Support" required="">
              <button class="reset" type="reset">&times;</button>
            </div>
            <span class="input-group-btn hidden-xs hidden-sm">
              <select class="selectpicker">
                <optgroup label="Filter Your Search by:">
                  <option>All Products</option>
                  <option>Cloud App Security for Office 365</option>
                  <option>Control Manager</option>
                  <option>Data Loss Prevention Endpoint</option>
                  <option>Deep Discovery Inspector</option>
                  <option>Deep Security</option>
                  <option>Deep Security as a Service</option>
                  <option>Deep Security for Web Apps</option>
                  <option>Email Encryption Gateway</option>
                  <option>Encryption for Email</option>
                  <option>Endpoint Application Control</option>
                  <option>Endpoint Encryption</option>
                  <option>Hosted Email Security</option>
                  <option>Hosted Mobile Security</option>
                  <option>Interscan Messaging Security</option>
                  <option>Interscan Web Security as a Service</option>
                  <option>Interscan Web Security Virtual Appliance</option>
                  <option>Mobile Security for Enterprise</option>
                  <option>OfficeScan</option>
                  <option>Portalprotect</option>
                  <option>Remote Manager</option>
                  <option>Safesync for Business</option>
                  <option>Safesync for Enterprise</option>
                  <option>Scanmail for Exchange</option>
                  <option>Securecloud as a Service</option>
                  <option>Securecloud on Premise</option>
                  <option>ServerProtect for EMC Celerra</option>
                  <option>ServerProtect for Linux</option>
                  <option>ServerProtect for Microsoft Windows/Novell Netware</option>
                  <option>ServerProtect for Storage</option>
                  <option>Threat Discovery Appliance</option>
                  <option>Threat Intelligence Manager</option>
                  <option>Worry-Free Business Security Advanced</option>
                  <option>Worry-Free Business Security Services</option>
                </optgroup>
              </select>
            </span>
            <span class="input-group-btn">
              <a href="{{ site.baseurl }}/business/en-us/search-result.html" class="btn btn-info btn-lg"><i class="fa fa-search"></i></a>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
