<!DOCTYPE html>
<html>

  <head>

    {% include _global/meta-data.html %}
    <title>Trend Micro Support</title>
    {% include _global/favicon.html %}
    {% include _global/stylesheet.html %}

    <link rel="manifest" href="{{ site.baseurl }}/manifest.json">

  </head>

  <body style="background-color: #f0f0f0;">

    {% include _global/header.html %}
    {% include _global/mobile-header.html %}

    <main>
      {{ content }}
    </main>
    {% include _global/footer.html %}

    {% include _global/javascript.html %}

  </body>

</html>
