---

layout: jp-global

pageCSS: esupport.css

---

<span style="display: none; {% if
  page.url contains '/ja-jp/product-support/office-scan.html' or
  page.url contains '/ja-jp/product-support/deep-security.html'
%}
  display: block !important;
{% endif %}">
  {% include _ja-jp/components/product-banner.html %}
</span>

<main class="container" id="{{ page.pageID }}">

  <span style="{% if
    page.url contains '/ja-jp/product-support/office-scan.html' or
    page.url contains '/ja-jp/product-support/deep-security.html'
  %}
    display: none;
  {% endif %}">
    {% include _ja-jp/components/heading.html %}
  </span>

  <span style="display: none; {% if
    page.url contains '/ja-jp/esupport/technical-support.html' or
    page.url contains '/ja-jp/product-support/office-scan.html'
  %}
    display: block !important;
  {% endif %}">
    {% include _ja-jp/components/alert.html %}
  </span>

  {{ content }}

</main>

<span style="display: none; {% if
  page.url contains '/ja-jp/product-support/office-scan.html' or
  page.url contains '/ja-jp/product-support/deep-security.html' or
  page.url contains '/ja-jp/solutions/1034393-using-the-trend-micro-rootkit-buster.html'
%}
  display: block;
{% endif %}">
  {% include _ja-jp/components/floating-button.html %}
</span>
