---

layout: jp-esupport

meta-title: Technical Support for Business

heading-title: 製品別サポート
heading-title-display: 2

heading-image-url: header-technical-support.png

heading-visibility: hidden-xs hidden-sm
heading-subtitle-top-visibility: none
heading-subtitle-bottom-visibility: none
heading-subtitle-link-visibility: none

notification-style: warning
notification-icon: fa-info-circle
notification-title: WARNING
notification-body: TLS 1.0 encryption protocol will be disabled by March 4, 2017
notification-action: Read More

alert-style: dark
alert-title: IMPORTANT REMINDER!
alert-body: OfficeScan 10.6 reached End-of-Support (EOS) last June 30, 2016. Please click here for more information, including FAQs. Trend Micro highly recommends upgrading to the latest version for extra protection against Ransomware and other vulnerabilities. Visit the following article to get OfficeScan XG <a href="">Supported upgrade path to OfficeScan XG</a>

---

<style>
  .display-item ul li {
    display: none;
  }
</style>

<div class="row">

  <div class="col-md-4">

    <div class="well well-default well-lg">

      <div class="well-heading">
        <h2 class="well-title display-6">製品サポートを取得します。</h2>
      </div>

      <div class="well-body">
        <form>
          <fieldset class="form-group form-group-lg form-reset has-icon left">
            <input type="search" class="form-control" placeholder="Enter product name" required>
            <button class="reset" type="reset">&times;</button>
            <i class="fa fa-search form-control-icon"></i>
          </fieldset>
        </form>
        <p class="section-subtitle"><strong>人気製品：</strong></p>
        <ul class="list list-condensed">
          <li class="{% if heading.url == '/ja-jp/product-support/office-scan.html' %} active {% endif %}">
            <a href="{{ site.baseurl }}/ja-jp/product-support/office-scan.html">OfficeScan</a>
          </li>
          <li><a href="">Worry-Free Business Security Standard/Advanced</a></li>
          <li class="{% if heading.url == '/ja-jp/product-support/deep-security.html' %} active {% endif %}">
            <a href="{{ site.baseurl }}/ja-jp/product-support/deep-security.html">Deep Security</a>
          </li>
          <li><a href="">Hosted Email Security</a></li>
          <li><a href="">Endpoint Encription</a></li>
        </ul>
      </div>

      <div class="well-footer">
        <a href="{{ site.baseurl }}/ja-jp/all-products.html" data-toggle="modal" data-target="#all-products" data-remote="{{ site.baseurl }}/ja-jp/all-products.html"><strong><i class="fa fa-lg fa-angle-right fa-right text-danger"></i>もっと商品を見ます</strong></a>
      </div>

    </div>

  </div>

  <div class="col-md-4">

    <div class="section display-item" data-display-item="6" id="technical-advisories">
      <div class="section-heading">
        <h2 class="section-title display-6">アドバイザリ</h2>
      </div>
      <div class="section-body">
        <ul class="list list-bullet">
          <li><a href="{{ site.baseurl }}/ja-jp/solution/">OfficeScan (OSCE) XG is now available in the Download Center</a></li>
          <li><a href="{{ site.baseurl }}/ja-jp/solution/">Ransomware: Solutions, Best Practice Configuration and Prevention using Trend Micro products</a></li>
          <li><a href="{{ site.baseurl }}/ja-jp/solution/">Recommendations on how to best protect your network using Trend Micro products</a></li>
          <li><a href="{{ site.baseurl }}/ja-jp/solution/">Out-of-service Cloud App Security (TMCAS) in EU site</a></li>
          <li><a href="{{ site.baseurl }}/ja-jp/solution/">New "Zero-Day" Vulnerability in Adobe Flash</a></li>
          <li><a href="{{ site.baseurl }}/ja-jp/solution/">Malware File Submission Process Update in Premium Services Connection (PSC)</a></li>
          <li><a href="{{ site.baseurl }}/ja-jp/solution/">Downloading and Using the Trend Micro Ransomware File Decryptor</a></li>
          <li><a href="{{ site.baseurl }}/ja-jp/solution/">Carbanak threat details and protection using Trend Micro products</a></li>
          <li><a href="{{ site.baseurl }}/ja-jp/solution/">Control Manager (TMCM) 6.0 Service Pack (SP) 3 Patch 2 - Build 3400 is now available</a></li>
          <li><a href="{{ site.baseurl }}/ja-jp/solution/">Emerging Threat on RANSOM_LOCKY / ZEPTO</a></li>
        </ul>
      </div>
      <div class="section-footer">
        <a href="" class="display-toggle show-more"><strong>More</strong></a>
        <a href="" class="display-toggle show-less"><strong>Less</strong></a>
      </div>
    </div>

  </div>

  <div class="col-md-4">

    <div class="section display-item" data-display-item="3" id="technical-video-guides">

      <div class="section-heading">
        <h2 class="section-title display-6">ビデオガイド</h2>
      </div>

      <div class="section-body">
        <ul class="list list-media">
          <li class="media">
            <div class="media-left">
              <img class="media-object" src="{{ site.baseurl }}/assets/images/video-placeholder.png" width="100px">
            </div>
            <div class="media-content">
              <p><a href="https://www.youtube.com/embed/A-sFiIlwdZo">Installing OfficeScan 10.6</a></p>
              <span class="label label-default">12:15</span>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <img class="media-object" src="{{ site.baseurl }}/assets/images/video-placeholder.png" width="100px">
            </div>
            <div class="media-content">
              <p><a href="">Deploying Officescan Anti-malware Security for Virtual Desktops (VDI)</a></p>
              <span class="label label-default">12:15</span>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <img class="media-object" src="{{ site.baseurl }}/assets/images/video-placeholder.png" width="100px">
            </div>
            <div class="media-content">
              <p><a href="">Typical installation of WFBS 9.0</a></p>
              <span class="label label-default">12:15</span>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <img class="media-object" src="{{ site.baseurl }}/assets/images/video-placeholder.png" width="100px">
            </div>
            <div class="media-content">
              <p><a href="">Installing OfficeScan 10.6</a></p>
              <span class="label label-default">12:15</span>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <img class="media-object" src="{{ site.baseurl }}/assets/images/video-placeholder.png" width="100px">
            </div>
            <div class="media-content">
              <p><a href="">Deploying Officescan Anti-malware Security for Virtual Desktops (VDI)</a></p>
              <span class="label label-default">12:15</span>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <img class="media-object" src="{{ site.baseurl }}/assets/images/video-placeholder.png" width="100px">
            </div>
            <div class="media-content">
              <p><a href="">Typical installation of WFBS 9.0</a></p>
              <span class="label label-default">12:15</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="section-footer">
        <a href="" class="display-toggle show-more"><strong>More</strong></a>
        <a href="" class="display-toggle show-less"><strong>Less</strong></a>
      </div>
    </div>

  </div>

</div>
