<footer class="footer footer-default footer-fixed">

  <div class="container">
    <a class="footer-brand" href="index.html">
      <img src="{{ site.baseurl }}/assets/images/footer-tm-logo.svg" onerror="this.src='{{ site.baseurl }}/assets/images/footer-tm-logo.png';">
    </a>
    <div class="footer-menu">
      <ul class="nav footer-nav">
        <li><a href="">TrendMicro.com</a></li>
        <li class="divider"></li>
        <li><a href="">Legal Policies &amp; Privacy</a></li>
      </ul>
    </div>
    <div class="footer-text">
      Copyright © 2016 Trend Micro Incorporated. <br />All rights reserved.
    </div>
  </div>

</footer>
