<header class="navbar navbar-default navbar-fixed-top">

  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/images/tm-logo.svg"><span>Support</span>
      </a>
    </div>

    <nav class="collapse navbar-collapse" id="main-navigation">

      <ul class="nav navbar-nav navbar-right" style="margin: 10px 0;">
        <li><a href="/SFDC_Business-Support/ja-jp/portal-access/sign-in.html">TrendMicro.com</a></li>
        <li class="divider"></li>
        <li><a href="/SFDC_Business-Support/ja-jp/portal-access/sign-in.html">Download Center</a></li>
      </ul>

    </nav>
  </div>

</header>
